.nav-bg-color {
	background: linear-gradient(135deg, #353b4a, #543a6e);
}#nav-logo-menu-drop {
    background: transparent;
}#nav-logo-menu-drop .nav-bg {
	background: linear-gradient(135deg, #353b4a, #543a6e);
	opacity: 1;
}#nav-logo-menu-drop .dropdown-menu, #nav-logo-menu-drop .sub-menu, #nav-logo-menu-drop .mega-menu-container {
	background: #543a6e;
}#action-center-text-img-btn {
	background: #353b4a;
}

#action-center-text-img-btn--0 {
	background: #ffffff;
}

#action-center-text-btn {
	background: #e9fbff;
}

#action-center-text-img-btn--1 {
	background: #ffffff;
}

#footer-text-icon-share {
    background: linear-gradient(135deg, #ff9300, #ff2c76);
    background: -webkit-linear-gradient(315deg, #ff9300, #ff2c76);
}