#desc-img-accordion .bg {
	background-image: url('../images/promo-bg.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}#action-center-img-text-btn {
	background: #000000;
}

#action-center-text-btn {
	background: #000000;
}



#counter-4col-timer {
	background: #000000;
}


#action-center-text-btn--0 {
	background: #000000;
}

