.nav-bg-color {
	background: linear-gradient(135deg, #353b4a, #543a6e);
}#nav-logo-menu-drop {
    background: transparent;
}#nav-logo-menu-drop .nav-bg {
	background: linear-gradient(135deg, #353b4a, #543a6e);
	opacity: 1;
}#nav-logo-menu-drop .dropdown-menu, #nav-logo-menu-drop .sub-menu, #nav-logo-menu-drop .mega-menu-container {
	background: #543a6e;
}#desc-text-list-img .bg {
    background-image: url('../images/bg-work-2.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.04;
}#desc-tabs {
	background: #f8f9fb;
}#footer-text-icon-share {
    background: linear-gradient(135deg, #ff9300, #ff2c76);
    background: -webkit-linear-gradient(315deg, #ff9300, #ff2c76);
}