#action-center-text-img-btn {
	background: #eeeeee;
}

#action-center-text-btn {
	background: #353b4a;
}

#action-center-text-btn--4 {
	background: #353b4a;
}

#action-center-text-btn--0 {
	background: #353b4a;
}

#desc-accordion {
	background: #f8f9fb;
}#action-center-text-btn--2 {
	background: #eeeeee;
}

#action-center-text-btn--1 {
	background: #353b4a;
}

#action-center-text-btn--3 {
	background: #d8d8d8;
}

#footer-text-icon-share {
    background: linear-gradient(135deg, #ff9300, #ff2c76);
    background: -webkit-linear-gradient(315deg, #ff9300, #ff2c76);
}