.nav-bg-color {
	background: linear-gradient(135deg, #353b4a, #543a6e);
}#nav-logo-menu-drop {
    background: transparent;
}#nav-logo-menu-drop .nav-bg {
	background: linear-gradient(135deg, #353b4a, #543a6e);
	opacity: 1;
}#nav-logo-menu-drop .dropdown-menu, #nav-logo-menu-drop .sub-menu, #nav-logo-menu-drop .mega-menu-container {
	background: #543a6e;
}#gallery-list-2col-text .bg {
    background-image: url('../images/bg-pattern-1.png');
    background-size: 300px 300px;
    -webkit-background-size: 300px 300px;
    background-repeat: repeat;
    -webkit-background-repeat: repeat;
    background-position: center center;
    opacity: 0.15;
}

#desc-img-img-text-btn {
	background: #f1f7fb;
}
#action-center-text-img-btn {
	background: #ffffff;
}

#action-center-text-img-btn--0 {
	background: #ffffff;
}

#desc-accordion {
	background: #f8f9fb;
}#action-center-text-btn {
	background: #e9fbff;
}

#footer-text-icon-share {
    background: linear-gradient(135deg, #ff9300, #ff2c76);
    background: -webkit-linear-gradient(315deg, #ff9300, #ff2c76);
}