.nav-bg-color {
	background: linear-gradient(135deg, #353b4a, #543a6e);
}#nav-logo-menu-drop {
    background: transparent;
}#nav-logo-menu-drop .nav-bg {
	background: linear-gradient(135deg, #353b4a, #543a6e);
	opacity: 1;
}#nav-logo-menu-drop .dropdown-menu, #nav-logo-menu-drop .sub-menu, #nav-logo-menu-drop .mega-menu-container {
	background: #543a6e;
}#header-carousel-single {
	background: linear-gradient(135deg, #000000, #00c0ff);
}

#header-carousel-single .bg {
	background-image: url('../images/bg-wood-5.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.25;
}
#action-center-text-img-btn--1 {
	background: #ffffff;
}

#action-center-text-btn {
	background: #eeeeee;
}

#action-center-text-img-btn--4 {
	background: #ffffff;
}

#action-center-text-btn--2 {
	background: #eeeeee;
}

#action-center-text-img-btn--2 {
	background: #ffffff;
}

#action-center-text-btn--0 {
	background: #eeeeee;
}

#action-center-text-img-btn--3 {
	background: #ffffff;
}

#action-center-text-btn--1 {
	background: #eeeeee;
}

#footer-text-icon-share {
    background: linear-gradient(135deg, #ff9300, #ff2c76);
    background: -webkit-linear-gradient(315deg, #ff9300, #ff2c76);
}